.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-container input, .form-container textarea, .form-container select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: rgba(34, 34, 96, 0.9);
}
.form-container .input-control input {
  width: 60%;
}

.submit-btn-add {
  background-color: #CE5A67;
  color: white;
  border-radius: 2rem;
}